<a href="https://colab.research.google.com/github/LeoFernanndes/estudos/blob/main/CFD_TC2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import pandas as pd

# Q1
# ciclo progressivo de iterações
n_array = []
p_array = []
q_array = []

N = 11
for p in range(0, N):
  if p == 0:
    Pp = 0
    Qp = 0
  
  elif p == N-1:
    Pp = 0
    Qp = 1

  else:
    Pp = 1 / (2 - 1 * p_array[p-1])
    Qp = 1 * q_array[p-1] / (2 - 1 * p_array[p-1])

  n_array.append(p)
  p_array.append(Pp)
  q_array.append(Qp)


# ciclo regressivo de iterações
reverse_t_num_array = []
for p in range(N-1,0-1,-1):
  if p == N-1:
    Tp = q_array[p]

  else:
    Tp = p_array[p] * reverse_t_num_array[N - p - 2] + q_array[p] 

  reverse_t_num_array.append(Tp)

t_num_array = reverse_t_num_array[::-1]


# cálculo analítico das temperaturas
t_real_array = []
for p in range(N):
  Tp = p / (N - 1) 
  t_real_array.append(Tp)



table = pd.DataFrame({
    "N": n_array,
    "P": p_array,
    "Q": q_array,
    "T_num": t_num_array,
    "T_real": t_real_array
})

columns_to_format = ["P", "Q", "T_num", "T_real"]
for column in columns_to_format:

  table[column] = table[column].apply(lambda x: "{:.14e}".format(x))

table

     N                     P  ...                 T_num                T_real
0    0  0.00000000000000e+00  ...  0.00000000000000e+00  0.00000000000000e+00
1    1  5.00000000000000e-01  ...  1.00000000000000e-01  1.00000000000000e-01
2    2  6.66666666666667e-01  ...  2.00000000000000e-01  2.00000000000000e-01
3    3  7.50000000000000e-01  ...  3.00000000000000e-01  3.00000000000000e-01
4    4  8.00000000000000e-01  ...  4.00000000000000e-01  4.00000000000000e-01
5    5  8.33333333333333e-01  ...  5.00000000000000e-01  5.00000000000000e-01
6    6  8.57142857142857e-01  ...  6.00000000000000e-01  6.00000000000000e-01
7    7  8.75000000000000e-01  ...  7.00000000000000e-01  7.00000000000000e-01
8    8  8.88888888888889e-01  ...  8.00000000000000e-01  8.00000000000000e-01
9    9  9.00000000000000e-01  ...  9.00000000000000e-01  9.00000000000000e-01
10  10  0.00000000000000e+00  ...  1.00000000000000e+00  1.00000000000000e+00

[11 rows x 5 columns]

In [38]:
import pandas as pd

# Q2
# ciclo progressivo de iterações
n_array = []
p_array = []
q_array = []

N = 11
for p in range(0, N):
  if p == 0:
    Pp = 0
    Qp = 0
  
  elif p == N-1:
    Pp = 0
    Qp = 1

  else:
    Pp = 1 / (2 - 1 * p_array[p-1])
    Qp = ((-2/100) + 1 * q_array[p-1]) / (2 - 1 * p_array[p-1])

  n_array.append(p)
  p_array.append(Pp)
  q_array.append(Qp)


# ciclo regressivo de iterações
reverse_t_num_array = []
for p in range(N-1,0-1,-1):
  if p == N-1:
    Tp = q_array[p]

  else:
    Tp = p_array[p] * reverse_t_num_array[N - p - 2] + q_array[p] 

  reverse_t_num_array.append(Tp)

t_num_array = reverse_t_num_array[::-1]


# cálculo analítico das temperaturas
t_real_array = []
for p in range(N):
  Tp = (p / (N - 1)) ** 2 
  t_real_array.append(Tp)



table = pd.DataFrame({
    "N": n_array,
    "P": p_array,
    "Q": q_array,
    "T_num": t_num_array,
    "T_real": t_real_array
})

columns_to_format = ["P", "Q", "T_num", "T_real"]
for column in columns_to_format:
  table[column] = table[column].apply(lambda x: "{:.14e}".format(x))

table

     N                     P  ...                 T_num                T_real
0    0  0.00000000000000e+00  ...  0.00000000000000e+00  0.00000000000000e+00
1    1  5.00000000000000e-01  ...  9.99999999999999e-03  1.00000000000000e-02
2    2  6.66666666666667e-01  ...  4.00000000000000e-02  4.00000000000000e-02
3    3  7.50000000000000e-01  ...  9.00000000000000e-02  9.00000000000000e-02
4    4  8.00000000000000e-01  ...  1.60000000000000e-01  1.60000000000000e-01
5    5  8.33333333333333e-01  ...  2.50000000000000e-01  2.50000000000000e-01
6    6  8.57142857142857e-01  ...  3.60000000000000e-01  3.60000000000000e-01
7    7  8.75000000000000e-01  ...  4.90000000000000e-01  4.90000000000000e-01
8    8  8.88888888888889e-01  ...  6.40000000000000e-01  6.40000000000000e-01
9    9  9.00000000000000e-01  ...  8.10000000000000e-01  8.10000000000000e-01
10  10  0.00000000000000e+00  ...  1.00000000000000e+00  1.00000000000000e+00

[11 rows x 5 columns]

In [39]:
import pandas as pd

# Q3

n_array = [i for i in range(5)]
aw_array = [0, 7, 7, 7, 0]
ap_array = [1, 9, 9, 9, 1]
ae_array = [0, 2, 2, 2, 0]
bp_array = [0, 0, 0, 0, 1]

coef_table = pd.DataFrame({
    "N": n_array,
    "aW": aw_array,
    "aP": ap_array,
    "aE": ae_array,
    "bp": bp_array
})

coef_table

p_array = []
q_array = []

for i in range(coef_table.shape[0]):
  if i == 0:
    p_array.append(0)
    q_array.append(0)
  
  elif i == coef_table.shape[0]:
    p_array.append(0)
    q_array.append(1)

  else:
    p = coef_table.loc[i, "aE"] / (coef_table.loc[i, "aP"] - coef_table.loc[i, "aW"] * p_array[i-1])
    p_array.append(p)
    q = (coef_table.loc[i, "bp"] + coef_table.loc[i, "aW"] * q_array[i-1]) / (coef_table.loc[i, "aP"] - coef_table.loc[i, "aW"] * p_array[i-1])
    q_array.append(q)

table = coef_table.copy()
table["P"] = p_array
table["Q"] = q_array

# ciclo regressivo de iterações
reverse_t_num_array = []
N = coef_table.shape[0]
for p in range(N-1,0-1,-1):
  if p == N-1:
    Tp = q_array[p]

  else:
    Tp = p_array[p] * reverse_t_num_array[N - p - 2] + q_array[p] 

  reverse_t_num_array.append(Tp)

t_num_array = reverse_t_num_array[::-1]

table["T_num"] = t_num_array


columns_to_format = ["P", "Q", "T_num"]
for column in columns_to_format:
  table[column] = table[column].apply(lambda x: "{:.14e}".format(x))

table

   N  aW  aP  ...                     P                     Q                 T_num
0  0   0   1  ...  0.00000000000000e+00  0.00000000000000e+00  0.00000000000000e+00
1  1   7   9  ...  2.22222222222222e-01  0.00000000000000e+00  1.67714884696017e-02
2  2   7   9  ...  2.68656716417910e-01  0.00000000000000e+00  7.54716981132075e-02
3  3   7   9  ...  2.80922431865828e-01  0.00000000000000e+00  2.80922431865828e-01
4  4   0   1  ...  0.00000000000000e+00  1.00000000000000e+00  1.00000000000000e+00

[5 rows x 8 columns]